* {
    /* background-color: aquamarine; */
    padding: 0;
    margin: 0;
    
    /* background-repeat: no-repeat; */
}

.container{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    align-items: flex-start;
}

body {
    background-image: url(../images/photo4.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
    background-repeat: no-repeat;
}

span {
    color: white;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
}

span:hover {
    color: #966551;
}

header {
    background-color: #5c5b5b;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    justify-content: space-evenly;
    height: 50px;
    /* border-radius: 3px; */
    font-family: sans-serif;
    /* margin: 5px; */
}

.box {
    display: flex;
    gap: 70px;
}

.box li {
    list-style-type: none;
    color: white;
}
 a:hover {
    color: #966551;
 }

header a {
    text-decoration: none;
    color: white;
}

.Header-text {
    font-size: 30px;
    margin: 100px;
    background-color: transparent;
    border-radius: 20px;
    padding: 0.5rem 4rem;
    border: 1px solid white;
    text-wrap: wrap;
    /* align-content: baseline; */
    
}

.Header-text button {
    background-color: transparent;
    border-radius: 20px;
    padding: 10px;
    color: #BFC094;
    text-decoration: none;
}

div a {
    text-decoration: none;
    color: #966551 ;
}

.beauty {
    font-size: 50px;
    text-align: center;
}

.beauty button {
    background-color: transparent;
    border-radius: 20px;
    padding: 20px;
    padding: 0.5rem 4rem;
}

.images {
    width:500px;
    /* position: absolute;
    top: 2px;
    right: 0; */
}

.top-content{
    display: flex;
    flex-direction: column;
    /* margin-left: 10px; */
    /* justify-content: space-around; */
    align-items: center;
}


.new-button {
    margin-left: 260px;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    border-color: #966551;
    
}
