@import url('https://fonts.googleapis.com/css2?family=Exile&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}


header{
    background-image: url(../images/camera2.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    justify-content: space-evenly;
    background-color: brown;
    color: white;
    height: 55px;
}

span {
    font-size: 23px;
    font-family: "Exile", system-ui;
}

.box {
    list-style-type: none;
    display: flex;
    gap: 120px;
}

.box li {
    text-decoration: none;
}

header a {
    text-decoration: none;
    color: white;
    transition: 0.4s ease-in-out;
 
}

header a:hover {
    color: blue;
    font-family: "Exile", system-ui;
    transition: 0.5s ease-in-out;
  
}

header button {
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    background-color: transparent;
    font-family: "Roboto Serif", serif;
}

.container {
    display: flex;
    flex-direction: column;
    background-image: url(../images/photo4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}

.top-content {
    margin-left: 19.5%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
}

div .text-1 {
    font-size: 60px;
    height: 220px;
}

div button {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: transparent;
    font-family: "Roboto Serif", serif;
}

div .button1 {
    height: 30px;
}


div .b-text {
    margin-top: 5%;
    width: 55%;
    font-size: 40px;
    font-family: "Exile", system-ui;
    height: 120px;
}

div a {
    text-decoration: none;
    color: brown;
    font-family: "Roboto Serif", serif;
}

div a:hover {
    color: blue;
    font-family: "Exile", system-ui; 
}

/* html{
    scroll-behavior: smooth;
    scrollbar-width: none;
} */

.about {
    /* width: 50%; */
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
    margin-top: 20px;
}

.about-image {
    border-radius: 10px;
    height: 300px;
    margin: 50px;
    box-shadow: 4px 5px 5px 0px ;
}

.about-text {
    width: 50%;
    height: 350px;
    line-height: 2;
}

.about-h1 {
    color: brown;
    font-size: 40px;
    font-family: "Exile", system-ui;
    /* height: 10px; */
}

.about-h3 {
    font-family: "Roboto Serif", serif;
    font-size: 18px;
}

.pricing-container {
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.photo1 {
    width: 300px;
    border-radius: 10px;
    box-shadow: 4px 5px 5px 0px ;
}

.pictures {
    /* background-color: rgb(102, 98, 98); */
    /* border: 1px solid rgb(53, 31, 31); */
    border-radius: 10px;
    padding: 20px;
    height: 750px;
    margin: 2%;

}

.pricing-container li {
    list-style-type: square;
    line-height: 2;
}

.pricing-container h3 {
    line-height: 2;
    font-family: "Exile", system-ui;
}

.pricing-container p {
    line-height: 1.5;
    margin-top: 5%;
}

.pricing-container h1 {
    margin-bottom: 5%;
    font-family: "Roboto Serif", serif;
}

.pictures a {
   
}