@import url('https://fonts.googleapis.com/css2?family=Exile&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}


header{
    background-image: url(../images/camera2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    justify-content: space-evenly;
    background-color: brown;
    color: white;
    height: 55px;
}

span {
    font-size: 23px;
    font-family: "Exile", system-ui;
}

.box {
    list-style-type: none;
    display: flex;
    gap: 120px;
}

.box li {
    text-decoration: none;
}

header a {
    text-decoration: none;
    color: white;
    transition: 0.4s ease-in-out;
 
}

header a:hover {
    color: blue;
    font-family: "Exile", system-ui;
    transition: 0.5s ease-in-out;
  
}

header button {
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    background-color: transparent;
    font-family: "Roboto Serif", serif;
}

.container {
    display: flex;
    flex-direction: column;
    background-image: url(../images/photo4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 700px;
}

.top-content {
    margin-left: 8%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(30px);
    box-shadow: 0px 10px 10px rgba(36, 36, 37, 0.37);
    border: 2px solid rgba(255,255,255,0.18);
    max-width: fit-content;
    padding: 20px;
}

.beauty {
    backdrop-filter: blur(30px);
    box-shadow: 0px 10px 10px rgba(36, 36, 37, 0.37);
    border: 2px solid rgba(255,255,255,0.18);
    max-width: fit-content;
    padding: 20px;
}

div .text-1 {
    font-size: 60px;
    height: 220px;
}

div button {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: transparent;
    font-family: "Roboto Serif", serif;
}

div .button1  {
    height: 30px;
}


div .b-text {
    margin-top: 5%;
    width: 55%;
    font-size: 40px;
    font-family: "Exile", system-ui;
    height: 120px;
}

div a {
    text-decoration: none;
    color: brown;
    font-family: "Roboto Serif", serif;
}

div a:hover {
    color: blue;
    font-family: "Exile", system-ui; 
}

/* html{
    scroll-behavior: smooth;
    scrollbar-width: none;
} */
 .about {
    /* background-image: url(../images/bg6.jpg); */
    background-size: cover;
    background-position: center;
    margin-right: 10%;
 }



.about {
    /* width: 50%; */
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 50px;
}

.about-image {
    border-radius: 10px;
    height: 300px;
    margin: 50px;
    box-shadow: 4px 5px 5px 0px ;
}

.about-text {
    /* color: white; */
    width: 50%;
    height: 350px;
    line-height: 2;
    backdrop-filter: blur(30px);
    box-shadow: 0px 10px 10px rgba(36, 36, 37, 0.37);
    border: 2px solid rgba(255,255,255,0.18);
    max-width: fit-content;
    padding: 20px;
}

.about-h1 {
    color: brown;
    font-size: 40px;
    font-family: "Exile", system-ui;
    /* height: 10px; */
}

.about-h3 {
    font-family: "Roboto Serif", serif;
    font-size: 18px;
}

.pricing {
    /* background-image: url(../images/photo2.jpg); */
    background-size: cover;
    background-position: center;
    /* margin-top: 2px; */
}

.pricing-container {
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.photo1 {
    width: 300px;
    border-radius: 10px;
    box-shadow: 4px 5px 5px 0px ;
}

.pictures {
    
    /* background-color: rgb(102, 98, 98); */
    /* border: 1px solid rgb(53, 31, 31); */
    border-radius: 10px;
    padding: 20px;
    height: 100%;
    margin: 2%;

}

.pricing-container li {
    /* color: white; */
    margin-left: 6.5%;
    list-style-type: square;
    line-height: 2;
}

.pricing-container h3 {
    /* color: white; */
    line-height: 2;
    font-family: "Exile", system-ui;
}

.pricing-container p {
    /* color: white; */
    line-height: 1.5;
    margin-top: 5px;
}

.pricing-container h1 {
    /* color: white; */
    margin-top: 10px;
    /* margin-bottom: 5px; */
    font-family: "Roboto Serif", serif;
}

.Portfolio-p {
    background-image: url(../images/camera4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

.Portfolio-p h1 {
    font-size: 100px;
    color: white;
    margin-top: 100px;
    height: 120px;
}

.Portfolio-p .Portfolio-b {
    background-color: transparent;
    border-radius: 40px;
    padding: 40px;
    font-size: 40px;
    font-weight: bolder;
    height: 180px;
}

.Portfolio-p h2 {
    margin-top: 20px;
    padding: 10px;
    color: white;
    font-size: 20px;
}
form {
    width: 10%;
}

.input-field {
    padding: 5px;
    font-size: 15px;
}

.forms button {
    margin-left: 6px;
}
.form-b {
    background-color: transparent;
    border-radius: 10px;
    padding: 4px;
    font-size: 15px;
    /* height: 1px; */
}

.info-section {
    background-color: black;
    background-image: url(../images/photo2.jpg);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    line-height: 1.5;

}

.info-section h1 {
    font-size: 30px;
    width: 58%;
    color: brown;
}

.info-text {
    width: 58%;
}

.info-boxt {
    line-height: 1.7;
    font-weight: bolder;
    color: aqua;
}

.sign-up {
    line-height: 1.5;
    color: aliceblue;
    border: 1px solid brown;
    font-weight: bolder;
    width: 73%;
    max-width: 600px;
}
.info-input {
    display: flex;
    gap: 25px;
    margin-bottom: 10px;
}

.infop {
    display: flex;
    gap: 100px
}

.contact-c {
    justify-content: center;
    align-items: center;
}
footer {
    background-color: #8D8D79;
    height: 20px;
    justify-content: center;
    color: white;
}
